*
	font-family: 'Museo Sans Cyrl', sans-serif

@import "base/variables"
@import "base/mixins"
@import "general"
@import "media"
@import "blocks/header.sass"
@import "blocks/buttons.sass"
@import "blocks/reasons.sass"
@import "blocks/consultation.sass"
@import "blocks/title.sass"
@import "blocks/forms.sass"
@import "blocks/logo.sass"
@import "blocks/main.sass"
@import "blocks/gallery.sass"
@import "blocks/bananas.sass"



body
	background: #eaeaea
	
.page
	width: 1120px
	margin: 0 auto

	

	
